@charset "UTF-8";
.login-top {
  width: 1000px;
  height: 103px;
  overflow: hidden;
  padding-bottom: 20px;
  margin: 0 auto; }
  .login-top a {
    float: left;
    padding-top: 20px; }
  .login-top > img {
    float: right;
    padding-top: 59px; }

.login-main {
  width: 960px;
  height: 600px;
  padding-top: 30px;
  padding-right: 85px;
  box-sizing: border-box;
  margin: 0 auto; }
  .login-main .login {
    box-sizing: border-box;
    width: 372px;
    height: 356px;
    padding: 0 40px;
    float: right;
    border: 1px solid #ccc;
    border-top: 2px solid #ea3918; }
    .login-main .login a {
      font-size: 12px;
      color: #999; }
      .login-main .login a:hover {
        color: #128cff; }
    .login-main .login h3 {
      float: left;
      font-size: 20px;
      padding-top: 23px; }
    .login-main .login .login-register {
      float: right;
      padding-top: 26px; }
    .login-main .login .form p {
      font-size: 12px;
      line-height: 24px;
      color: red;
      width: 290px;
      height: 24px;
      display: none; }
    .login-main .login .form .uname, .login-main .login .form .upwd {
      position: relative;
      width: 290px;
      height: 32px;
      margin-top: 66px;
      padding-bottom: 24px; }
      .login-main .login .form .uname span, .login-main .login .form .upwd span {
        position: absolute;
        left: 1px;
        top: 1px;
        float: left;
        width: 31px;
        height: 32px;
        background: url(../img/login.png) 0px -52px no-repeat; }
      .login-main .login .form .uname input, .login-main .login .form .upwd input {
        color: #999;
        float: left;
        width: 280px;
        height: 30px;
        border: 1px solid #dedede;
        text-indent: 40px;
        font-size: 14px; }
    .login-main .login .form .upwd {
      margin-top: 0px; }
      .login-main .login .form .upwd span {
        background: url(../img/login.png) 0px 0px no-repeat; }
    .login-main .login .form .secuirtyCode div {
      float: left;
      width: 290px;
      height: 32px; }
      .login-main .login .form .secuirtyCode div input {
        color: #999;
        width: 108px;
        height: 30px;
        border: 1px solid #dedede;
        font-size: 14px;
        text-indent: 8px;
        float: left; }
      .login-main .login .form .secuirtyCode div #v_container {
        float: left;
        padding: 5px 0 0 3px;
        width: 85px;
        height: 25px; }
      .login-main .login .form .secuirtyCode div a {
        float: left;
        padding: 11px 0 0 8px; }
    .login-main .login .form .forget {
      float: right;
      padding: 26px 0 6px; }
    .login-main .login .form #login-btn {
      cursor: pointer;
      width: 290px;
      height: 40px;
      border: none;
      border-radius: 3px;
      background: #e83917;
      font-size: 20px;
      color: #fff; }
    .login-main .login .use-other {
      width: 290px;
      height: 20px;
      padding-top: 20px; }
      .login-main .login .use-other span {
        float: left;
        font-size: 12px;
        color: #999;
        padding-top: 3px; }
      .login-main .login .use-other a {
        float: left;
        width: 20px;
        height: 20px;
        margin-left: 15px;
        background: url(../img/login.png) 0 -128px no-repeat; }
        .login-main .login .use-other a:nth-child(2) {
          background-position-x: -26px; }
        .login-main .login .use-other a:nth-child(3) {
          background-position-x: -66px; }
        .login-main .login .use-other a:nth-child(4) {
          background-position-x: -106px; }
        .login-main .login .use-other a:nth-child(5) {
          background-position-x: -146px; }

footer {
  padding-top: 50px;
  width: 100%;
  margin-bottom: 15px; }
  footer .footer-top-wrap {
    height: 35px;
    background: #444851;
    margin-bottom: 4px; }
    footer .footer-top-wrap .footer-top {
      width: 1004px;
      line-height: 35px;
      margin: 0 auto; }
      footer .footer-top-wrap .footer-top a {
        font-size: 12px;
        padding: 0 19px;
        border-right: 1px solid #4e5553;
        color: #adadad; }
        footer .footer-top-wrap .footer-top a:nth-child(11) {
          border: none; }
  footer p {
    width: 1010px;
    margin: 0 auto;
    font-size: 12px;
    text-align: center;
    line-height: 24px; }
    footer p a {
      color: black; }

/*
 * 注册页面开始
 */
.register {
  box-sizing: border-box;
  width: 372px;
  padding: 0 40px;
  float: right;
  border: 1px solid #ccc;
  border-top: 2px solid #ea3918; }
  .register span {
    float: left;
    height: 24px;
    line-height: 24px;
    font-size: 12px; }
  .register a {
    font-size: 12px;
    color: #999; }
    .register a:hover {
      color: #128cff; }
  .register h3 {
    float: left;
    font-size: 20px;
    padding-top: 23px; }
  .register .register-register {
    float: right;
    padding-top: 26px;
    font-size: 12px; }
  .register .form ul {
    margin-top: 22px;
    float: left;
    overflow: hidden; }
    .register .form ul li {
      float: left;
      height: 56px;
      width: 290px; }
      .register .form ul li input {
        color: #999;
        width: 288px;
        height: 30px;
        border: 1px solid #dedede;
        text-indent: 5px;
        font-size: 14px; }
      .register .form ul li span {
        display: block;
        height: 24px;
        line-height: 24px;
        font-size: 12px;
        color: red; }
  .register .form .secuirtyCode div {
    width: 290px;
    height: 32px; }
    .register .form .secuirtyCode div input {
      float: left;
      width: 108px;
      height: 28px; }
    .register .form .secuirtyCode div #v_container {
      float: left;
      padding: 5px 0 0 3px;
      width: 85px;
      height: 25px; }
    .register .form .secuirtyCode div a {
      float: left;
      padding: 11px 0 0 8px;
      margin-right: 10px; }
    .register .form .secuirtyCode div span {
      width: 15px;
      height: 14px;
      margin: 10px 3px 0;
      background: url(../img/login.png) -1px -111px no-repeat;
      display: none; }
  .register .form .secuirtyCode span {
    display: none; }
  .register .form .sms-code div {
    width: 290px;
    height: 32px; }
    .register .form .sms-code div input:nth-child(1) {
      float: left;
      width: 108px;
      height: 30px;
      border: 1px solid #dedede;
      text-indent: 8px; }
    .register .form .sms-code div input:nth-child(2) {
      width: 112px;
      height: 32px;
      text-indent: 8px;
      font-size: 12px;
      color: #444;
      border: 1px solid #ccc;
      background: #eee;
      margin-left: 3px; }
    .register .form .sms-code div span {
      height: 32px;
      line-height: 32px;
      padding-left: 3px; }
  .register .form .registration-protocol {
    height: 24px;
    line-height: 24px;
    float: left; }
    .register .form .registration-protocol label {
      font-size: 12px; }
  .register .form #register-btn {
    cursor: pointer;
    width: 290px;
    height: 40px;
    border: none;
    border-radius: 3px;
    background: #e83917;
    font-size: 20px;
    color: #fff; }
  .register .other-code {
    width: 290px;
    height: 12px;
    font-size: 12px;
    text-align: center;
    padding: 22px 0 33px; }
    .register .other-code a {
      color: #128cff; }

.register-suceess {
  width: 1000px;
  height: 800px;
  margin: 0 auto; }
  .register-suceess .top {
    padding: 60px 0 0 272px; }
    .register-suceess .top span {
      float: left;
      width: 72px;
      height: 72px;
      background: url(../img/login.png) -1px -276px; }
    .register-suceess .top p {
      padding-left: 92px;
      font-size: 14px;
      height: 22px;
      line-height: 22px; }
    .register-suceess .top a {
      float: left;
      width: 120px;
      height: 40px;
      background: #e83917;
      color: white;
      font-size: 16px;
      text-align: center;
      line-height: 40px;
      border-radius: 3px;
      margin: 16px 0 16px 92px; }
  .register-suceess > img {
    padding-left: 196px; }
  .register-suceess .check-email {
    text-align: center;
    width: 600px;
    padding: 0 196px; }
    .register-suceess .check-email div {
      width: 602px;
      height: 44px;
      border: 1px solid #ddd;
      margin-top: 40px; }
      .register-suceess .check-email div i {
        float: left;
        width: 23px;
        height: 20px;
        margin: 13px 6px 0 30px;
        background: url(../img/login.png) -178px -116px; }
      .register-suceess .check-email div p {
        font-size: 14px;
        color: #444;
        height: 44px;
        line-height: 44px; }
        .register-suceess .check-email div p span {
          color: red; }
    .register-suceess .check-email h5 {
      font-size: 14px;
      height: 14px;
      padding-top: 40px;
      padding-bottom: 12px; }
    .register-suceess .check-email hr {
      background: #e83917;
      height: 2px; }
    .register-suceess .check-email > p {
      float: left;
      font-size: 14px;
      color: #444;
      padding-left: 30px;
      padding-top: 28px; }
    .register-suceess .check-email input:nth-child(5) {
      float: left;
      width: 290px;
      height: 40px;
      border: 1px solid #ccc;
      margin-top: 14px; }
    .register-suceess .check-email input:nth-child(6) {
      float: left;
      width: 128px;
      height: 40px;
      border: 1px solid #ccc;
      background: #fafafa;
      font-size: 12px;
      color: #444;
      margin-top: 14px;
      margin-left: 10px; }
